.aboutSection {
  position: relative;
}

.wrapper {
  position: relative;
}

.ellipse {
  left: 0;
  top: -20%;
  transform: translateX(-50%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.imageContainer {
  position: relative;
  max-width: 380px;
  height: 327px;
  border-radius: 18px;
}

.imageContainer::before {
  content: '';
  position: absolute;
  top: 11px;
  right: -11px;
  width: 100%;
  height: 100%;
  background: var(--primary-clr-400);
  border-radius: inherit;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
}

@media screen and (max-width: 950px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 475px) {
  .imageContainer::before {
    top: 6px;
    right: -6px;
  }
}