.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  background: var(--white);
  color: var(--black);
  padding: .5rem;
  border-radius: var(--border-radius-400);
}

.dropdownBtn {
  transition: .2s color ease-in-out;
}

.dropdownBtn:hover {
  color: var(--primary-clr-400);
}

.dropdownMenuItem {
  color: var(--black);
}