@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* ------- typography ------- */
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --fsz-300: .875rem;
  --fsz-400: 1rem;
  --fsz-500: 1.5rem;
  --fsz-600: 1.75rem;
  --fsz-700: 2.25rem;
  --fsz-800: 2.75rem;
  --fsz-900: 3.25rem;

  /* ------- colors ------- */
  --bg-clr-300: #130e1675;
  --bg-clr-400: #130E16;
  --gradient: linear-gradient(135deg, var(--primary-clr-400), var(--secondary-clr-400));

  --primary-clr-100: #df075369;
  --primary-clr-400: #DF0754;

  --secondary-clr-100: #b425d833;
  --secondary-clr-400: #b425d8;

  --accent-violet-clr-100: #7520FF33;
  --accent-violet-clr-400: #7520FF;

  --accent-blue-clr-100: #20AFFF33;
  --accent-blue-clr-400: #20AFFF;

  --html-clr-100: #FF6D0033;
  --html-clr-400: #FF6D00;

  --css-clr-100: #039BE533;
  --css-clr-400: #039BE5;

  --js-clr-100: #FFD60033;
  --js-clr-400: #FFD600;

  --ts-clr-100: #007ACC33;
  --ts-clr-400: #007ACC;

  --redux-clr-100: #7E57C233;
  --redux-clr-400: #7E57C2;

  --sass-clr-100: #F0629233;
  --sass-clr-400: #F06292;

  --white: #fff;
  --black: #000;

  /* ------- other ------- */
  --border-radius-400: 8px; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg-clr-400);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}

section {
  padding: 50px 0;
}

.wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.ai-center {
  align-items: center;
}

.btn {
  background: var(--white);
  border: none;
  border-radius: var(--border-radius-400);
  font-family: var(--ff-ubuntu);
  font-size: 1rem;
  color: var(--black);
  padding: .5em 1.5em;
  cursor: pointer;
}

.btn span {
  position: relative;
}

.btn-primary {
  position: relative;
  background: var(--gradient);
  border: none;
  color: var(--white);
  overflow: hidden;
  transition: .2s color ease-in-out;
}

.btn-primary::before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  background: var(--white);
  border-radius: 50%;
  transition: .3s transform ease-in-out;
  transform: scale(0);
}

.btn-primary:hover {
  color: var(--black);
}

.btn-primary:hover::before {
  transform: scale(20);
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  color: var(--white);
}

.btn-text {
  padding: 0;
  background: transparent;
  color: var(--white);
}

.heading-1 {
  font-size: var(--fsz-900);
  font-weight: 600;
  margin: 0;
  margin-bottom: .25em;
}

.heading-2 {
  font-size: var(--fsz-800);
  font-weight: 600;
  margin: 0;
  margin-bottom: .25em;
}

.heading-3 {
  font-size: var(--fsz-700);
  font-weight: 600;
  margin: 0;
  margin-bottom: .25em;
}

.heading-4 {
  font-size: var(--fsz-600);
  font-weight: 600;
  margin: 0;
  margin-bottom: .25em;
}

p, .text {
  font-size: var(--fsz-400);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

.primary-clr {
  color: var(--primary-clr-400);
}

.logo {
  font-size: var(--fsz-600);
  font-weight: 600;
  letter-spacing: .75px;
}

@media screen and (max-width: 900px) {
  .heading-1 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    padding: 0 25px;
  }

  .heading-1 {
    font-size: 2.25rem;
  }

  p, .text {
    font-size: .875rem;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    padding: 0 15px;
  }

  .logo {
    font-size: var(--fsz-500);
  }
}