.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 9999;
}

.wrapper {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  transition: .1s color ease-in-out;
}

.nav ul li a:hover {
  color:var(--primary-clr-400);
}

.contactBtn {
  margin-left: auto;
}

.burgerBtn {
  display: none;
  font-size: 2rem;
  margin-left: .5em;
}

@media screen and (max-width: 770px) {
  .nav {
    display: none;
  }

  .burgerBtn {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .contactBtn {
    display: none;
  }

  .burgerBtn {
    margin-left: auto;
  }
}