.tag {
  font-size: 2.25rem;
  font-weight: 900;
  background: linear-gradient(45deg, var(--primary-clr-400), var(--secondary-clr-400));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  padding: 1rem 0;
  padding-left: 3rem;
}